select#minutes, select#seconds {
  padding: 10px;
  border-radius: 2px;
  font-size: 1.1em;
}

.countdown-number {
  font-size: 10em;
}

.timeset {
  font-size: 1em;
}

.input-field {
  display: inline-block;
  border: 1px solid grey;
  padding: 30px;
}

.input-field label {
  padding: 0 20px;
}

input#minutes, input#seconds {
  width: 100px;
}

.button button {
  margin-left: 30px;
  padding: 13px;
  border: none;
  border-radius: 2px;
  background-color: slategrey;
  color: snow;
}

.button .start-btn {
  background-color: olivedrab;
}

.button .stop-btn {
  background-color: maroon;
}
