.home-menu {
  padding-left: 0px;
  background-color: #181a1b;
}

.home-menu li {
  margin: 0 8px;
}

.home-menu li a {
  font-size: 1.3em;
}

.link-list {
  margin: 0 auto;
}

.link-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-list ul li:nth-child(even) {
  text-align: left;
}

.link-list ul li:nth-child(odd) {
  text-align: right;
}

/* .App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home-menu {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
