span {
  font-family: monospace;
  font-size: 6em;
}

.digital {
  font-family: monospace;
  text-align: left;
  display: inline-block;
  margin: 20px;
  padding: 10px 25px;
  border: 2px solid darkorchid;
}

.clock {
  text-align: center;
}
